{% extends 'base.html.twig' %}

{% block title %}Clôture {% endblock %}

{% block body %}

<div class="jumbotron">
    <h3>les plus visités :</h3>
    <br>
    <hr>
    <br>
    <div class="col">
        <div class="row">
            {% for cloture in clotures %}
            <div class="col-3">
                <div class="card mb-3">
                    <h3 class="card-header">{{ cloture.nom }}</h3>
                    <div class="card-body">
                        <h5 class="card-title">Références : </h5>
                        <h6 class="card-subtitle text-muted">{{ cloture.reference }}</h6>
                    </div>
                    <p style="text-align: center;"><img src="../image/{{ cloture.image }}" alt="" style="width:50%;"></p>
                    <div class="card-body">
                        <p>Consulté : {{ cloture.Compteur }} </p>
                        <p style="text-align: center;"><a href="{{ path('idArticle', {'num' : cloture.id }) }}"><button type="button" class="btn btn-success">Plus d'info</button></a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}